<contact-info></contact-info>

<div ng-controller="ContactdetailCtrl as detail">
  <div class="row">
    <div class="col-md-12">
      <h3>Address</h3>
      <p>{{detail.address}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form ng-submit="sumar()">
      <div class="form-group">
        <label for="number1">Number 1</label>
        <input type="number" name="" id="" ng-model="number1">
      </div>

      <div class="form-group">
        <label for="number2">Number2</label>
        <input type="number" name="" id="" ng-model="number2">
      </div>

      <div class="form-group">
        <label for="result">Result</label>
        <input type="text" name="" id="" ng-model="result">
      </div>

      <input type="submit" value="Sumar">
    </form>
    <button ng-click="less();">Restar</button>
    <button ng-click="times();">Multiplicar</button>
    <button ng-click="divide();">Dividir</button>
    <button ng-click="saludate();">Saludar</button>
  </div>
</div>
